@media only screen and (max-width: 900px) {

    .carousel img {
        margin: -100px 0px -500px 0px;
        object-fit: cover;
        filter: brightness(50%);
        height: 50%;
    }

    .carousel-caption {
        position: relative;
        text-align: right !important;
        top: 0%;
    }
}


@media only screen and (min-width: 901px) {

    .carousel img {
        width: 100%;
        object-fit: cover;
        margin: -100px 0px -50px 0px;
        filter: brightness(50%);
    }

    .carousel-caption {
        position: relative;
        text-align: right !important;
        top: 25%;
    }


}

.card {
    margin: 30px;
    font-size: small;
    line-height: 2;
}

.btn-sm {
    height: 25px;
    padding: 0;
    font-weight: bold !important;
}

#tema {
    font-size: x-large;
}

#descripcion {
    font-size: smaller;
}

#inscripcion span {
    text-decoration: underline;
    text-decoration-style: dotted;
}

#footer {
    background-color: #1c3846 !important;
}

#footer .nav-item {
    font-size: smaller !important;
}

#promos div {
    line-height: 30px;
}

.boton {
    background-color: #a7dd56;
    color: white;
}
